.double-border:after {
  background: none;
  border-bottom: 3px double #bbbbbb;
  content: "";
  width: 100%;
  position: absolute;
  bottom: 1px;
  left: 0;
  pointer-events: none;
}
.flexcontainer {
  display: flex;
  flex-flow: row wrap;
}
.flexcontainer .header {
  display: flex;
  width: 100%;
}
.flexcontainer .header svg {
  margin-right: 1em;
  margin-top: 25px;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  fill: #0f1119;
}
.shadow {
  -webkit-box-shadow: 1px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 1px 0px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 1px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
.shadow-top {
  -webkit-box-shadow: inset 0px 3px 8px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 3px 8px -4px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 3px 8px -4px rgba(0, 0, 0, 0.75);
}
html,
body {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.full-height {
  background-image: url("/Content/images/noise5.png");
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  width: auto;
  height: auto;
}
.full-height .row {
  height: 75%;
}
.full-height #content {
  height: 100%;
}
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
a[href^="mailto:"] {
  text-decoration: inherit;
}
body {
  background-color: #3a7591;
  background: #3a7591;
  background: -moz-linear-gradient(-45deg, #3a7591 0%, #204a5c 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #3a7591), color-stop(100%, #204a5c));
  background: -webkit-linear-gradient(-45deg, #3a7591 0%, #204a5c 100%);
  background: -o-linear-gradient(-45deg, #3a7591 0%, #204a5c 100%);
  background: -ms-linear-gradient(-45deg, #3a7591 0%, #204a5c 100%);
  background: linear-gradient(135deg, #3a7591 0%, #204a5c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a7591', endColorstr='#204a5c', GradientType=1);
}
#info {
  height: 75%;
  padding: 0;
  margin: 0;
  position: relative;
  padding-bottom: 10em;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#info h1,
#info p,
#info a {
  text-align: center;
}
p,
a {
  font-family: 'Open Sans', sans-serif;
  color: #e3f1ff;
}
h1,
h2,
h3,
h4,
h5,
.navbar a {
  font-family: 'Titillium Web', sans-serif;
}
#content {
  height: 100%;
}
#content > .row {
  height: 100%;
}
.navbar {
  z-index: 1;
  background-color: #0f1119;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  -webkit-box-shadow: 1px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 1px 0px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 1px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand {
  color: #f5ffff;
}
#about {
  text-align: center;
}
.about .details h3 {
  margin-left: 15px;
  width: 95%;
  border-bottom: 1px solid #0f1119;
  font-weight: 600;
}
.about .details h4 {
  font-weight: 500;
}
.about .details p {
  font-size: 12px;
}
@media screen and (max-height: 340px) {
  .full-height .row {
    height: 100%;
  }
  #info {
    padding-bottom: 0em;
  }
}
